body{
    background-color: #7a7ab1;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.container{
    background-color: #d3556f;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    margin: 0px 100px;
    text-align: center;
    border-style: solid;
    border-color: #ffe600;
    margin: 100px;
    width: 80vw;
    height: 70vh;
}

h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
}

h4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
}
#API1{
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-right-color: #ffe600;
    border-right-style: solid;
    align-content: center;
    align-items: center;

}

#API2{
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-right-color: #ffe600;
    border-right-style: solid;

}
#API3{
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-right-color: #ffe600;
    border-right-style: solid;
}

#API4{
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.buttons{
    border-radius: 10px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #ffe600;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    display: block;
    margin: auto;
    margin-top: 20px;

}

.buttons:hover {
    background-color: #ffe600;
    color: white;
}

input {
    border: 2px solid #ffe600;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
}

.output {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
}

@media only screen and (max-width:1050px){

    #API1{
        flex-basis: 100%;
        padding: 20px;
        border-bottom-style: solid;
        border-bottom-color: #ffe600;
        border-right-style: none;
    }
    
    #API2{
        flex-basis: 100%;
        padding: 20px;
        border-bottom-style: solid;
        border-bottom-color: #ffe600;
        border-right-style: none;
    
    }
    #API3{
        flex-basis: 100%;
        padding: 20px;
        border-bottom-style: solid;
        border-bottom-color: #ffe600;
        border-right-style: none;
    }
    
    #API4{
        flex-basis: 100%;
        padding: 20px;
        border-right-style: none;
    }

    .container{
        flex-direction: column;
        flex-basis: 70%;        
        justify-content:center;
        align-content: center;
        text-align: center;
        margin: 50px 100px ;
        width: auto;
        height: auto;
    }

    input{
        width:300px;
    }
}

@media only screen and (max-width:1050px){

    .container{
        margin: 50px 50px ;
    }
}